.container {
    display: block;
    min-height: 100vh;
    max-width: 100%;
    margin: auto;
    padding: 25px;
    text-align: center;
    align-items: center;
    background-image: url("../currency-converter/image/money.jpg");
    background-position: center;
    }

.container--header {
    font-size: 30px;
    color: rgb(192, 170, 46);
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}